<footer>
    <div class="footer" style="background: #0F0F0F;">
        <div class="social-media">
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/3670/3670127.png" alt=""></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/187/187209.png" alt=""></a>
            <a href="https://github.com/tb-rules10" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png" alt=""></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" alt=""></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/3670/3670157.png" alt=""></a>
        </div>
        <div class="f-logo">
            <a href="#"><img class="logoimg" src="/images/logo1.png" alt=""></a>
        </div>
        <p>© 2022, Copyright: ESportle : Tanishq Bhatt, Aayush  Dubey & Siddhant Sharma.</p>
        <div class="navigation">
            <a href="/">Home</a>
            <a href="/news">News</a>
            <!-- <a href="/shop.html">Shop</a> -->
            <a href="/games">Games</a>
        </div>
        <div class="end">
            <hr style="margin-bottom:5vh;">
            "GG" stands for a  "GOOD GAME"
        </div>
    </div>    
</footer>
</body>
</html>