<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESportle</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/806/806133.png">
    <link rel="stylesheet" href="css/homestyle.css">
</head>
<body>
    <header>
        <div class="navbar" id="navbar" style="background: rgb(153,34,30);background: linear-gradient(90deg, rgba(153,34,30,1) 25%, rgba(95,100,104,1) 35%, rgba(65,89,94,1) 66%, rgba(1,67,73,1) 80%, rgba(41,80,85,1) 100%);">
            <div class="logo">
                <a href="/"><img class="logoimg" src="/images/logo1.png" alt=""></a>
            </div>
            <%- include('navbar')%>
            <div class="login">
                <a href="/login"><img class="signup" src="/images/sign.png" alt=""></a>
            </div>
        </div>
    </header>