<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: #FFC303;
        overflow-x: hidden;
    }
    .op-block{
        display: flex;
        justify-content: center;
    }
    .op-block img{
        height: 400px;
    }
    .op-block h1{
        margin-top: 20vh;
        border-style: dashed;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        position: relative;
        bottom: 70px;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 120px;
        padding-bottom: 90px;
        margin-bottom: -30px;   
        color: white;
    }
    .oops{
        color: white;
        font-size: 500;
        font-weight: bold;
        margin-left: 59vw;
        -webkit-transform: scale(2.2);
    }
    .pp{
        color: white;
        font-size: 500;
        font-weight: 400;
        margin-left: 42vw;
        padding-top: 12px;
        padding-bottom: 12px;
        -webkit-transform: scale(1.4);
    }
    .backer{
        background-color: #730DA0;
        text-decoration: none;
        color: white;
        padding: 12px;
        border-radius: 5px;
        margin-left: 44vw;
    }
</style>
<body>
    <div class="op-block">
        <img src="images/red.png" alt="" class="">
        <h1>404</h1>
        <img src="images/blue.png" alt="">
    </div>
    <p class="oops">Oops... Something is missing!</p>
    <p class="pp">Looks like the page you are trying to reach is no longer available.</p>
    <a href="#" class="backer">Back to Homepage</a>
</body>
</html>