<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESportle Games</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/homestyle.css">
    <link rel="stylesheet" href="css/gamestyle.css">
</head>
<body>
    

    <script src="js/games.js"></script>

</body>
</html>