<%- include('partials/navbar-games')%>


    <div class="bg-video">
        <video autoplay muted loop src="/videos/3dgames.mp4"></video>
        <H1 CLASS="head">Everything about your FAVOURITE GAME!!</H1>
        <a data-scroll href="#games">
            <div class="arrow"></div>
          </a>
    </div>
    
    <!-- <video autoplay muted loop src="/videos/3dgames.mp4"></video> -->
    <div id="games">
        
        <h1>PROMOTED GAMES</h1>

        <div class="game-cards">
            <div class="gcard" style="background-image: url(/images/games/apex.png);"></div>
            <div class="gcard" style="background-image: url(/images/games/pubg.png);"></div>
            <div class="gcard" style="background-image: url(/images/games/LOL.png);"></div>
            <div class="gcard" style="background-image: url(/images/games/valorant.png);"></div>
            <div class="gcard" style="background-image: url(/images/games/codw.png);"></div>
        </div>

    </div>
    <br>
    <br>
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
        
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>

<%- include('partials/footer')%>