<div class="container scroll-top">
    <div class="panel" style="background-image: url('images/apex.png')"><a href="https://google.com"></a></div>
    <div class="panel" style="background-image: url('images/pubg.png')"><a href="https://google.com"></a></div>
    <div class="panel" style="background-image: url('images/valorant.png')"><a href="https://google.com"></a></div>
</div>