<div class="players">
    <br>
    <div class="control">
        <div class="name"><h2>PLAYERS</h2></div>
        <div class="controls">
            <img src="/images/arrows1.png" alt="">
            <img src="/images/arrows2.png" alt="">
        </div>
    </div>
    <br>
    <div class="playercards">
        <div class="player-card">
            <div class="dp" style="background-image: url('https://images6.alphacoders.com/962/962471.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/leomessi/?hl=en"><h3>Lionel Messi</h3></a>
            </div>
        </div>
        <div class="player-card">
            <div class="dp" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/350/470/398/soccer-neymar-brazilian-paris-saint-germain-f-c-wallpaper-preview.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/neymarjr/"><h3>Neyamr Jr.</h3></a>
            </div>
        </div>
        <div class="player-card">
            <div class="dp" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/558/12/1019/soccer-luis-suarez-fc-barcelona-luis-suarez-wallpaper-preview.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/luissuarez9/?hl=en"><h3>Luis Suarez</h3></a>
            </div>
        </div>
        <div class="player-card">
            <div class="dp" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/881/819/618/soccer-karim-benzema-french-real-madrid-c-f-wallpaper-preview.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/karimbenzema/?hl=en"><h3>Karim Benzema</h3></a>
            </div>
        </div>
<!-- 
        <div class="player-card" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/350/470/398/soccer-neymar-brazilian-paris-saint-germain-f-c-wallpaper-preview.jpg');">
        
        </div>
        <div class="player-card" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/558/12/1019/soccer-luis-suarez-fc-barcelona-luis-suarez-wallpaper-preview.jpg');">
        
        </div>
        <div class="player-card" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/881/819/618/soccer-karim-benzema-french-real-madrid-c-f-wallpaper-preview.jpg');">
        
        </div> -->
    </div>
</div>
<br>