<div class="players">
    <br>
    <div class="control">
        <div class="name"><h2>PLAYERS</h2></div>
        <div class="controls">
            <img onclick="slideRight()" src="/images/arrows1.png" alt="">
            <img onclick="slideLeft()" src="/images/arrows2.png" alt="">
        </div>
    </div>
    <br>
    <div class="playercards">
        <div class="player-card">
            <div class="dp" style="background-image: url('https://images6.alphacoders.com/962/962471.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/leomessi/?hl=en"><h3>Lionel Messi</h3></a>
            </div>
        </div>
        <div class="player-card">
            <div class="dp" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/350/470/398/soccer-neymar-brazilian-paris-saint-germain-f-c-wallpaper-preview.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/neymarjr/"><h3>Neyamr Jr.</h3></a>
            </div>
        </div>
        <div class="player-card">
            <div class="dp" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/558/12/1019/soccer-luis-suarez-fc-barcelona-luis-suarez-wallpaper-preview.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/luissuarez9/?hl=en"><h3>Luis Suarez</h3></a>
            </div>
        </div>
        <div class="player-card">
            <div class="dp" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/881/819/618/soccer-karim-benzema-french-real-madrid-c-f-wallpaper-preview.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/karimbenzema/?hl=en"><h3>Karim Benzema</h3></a>
            </div>
        </div>
        <div class="player-card">
            <div class="dp" style="background-image: url('https://wallpaperaccess.com/full/1971071.jpg');">
                
            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/3gerardpique/?hl=en"><h3>Gerard Piqué</h3></a>
            </div>
        </div>
        <div class="player-card">
            <div class="dp" style="background-image: url('https://cdn.thefootballlovers.com/wp-content/uploads/2020/04/cristiano-ronaldo-juventus-wallpaper-2020-4K-HD-scaled.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/cristiano/?hl=en"><h3>Cristiano Ronaldo</h3></a>
            </div>
        </div>
        <div class="player-card">
            <div class="dp" style="background-image: url('https://wallpaperaccess.com/full/6451460.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/k.mbappe/?hl=en"><h3>Kylian Mbappé</h3></a>
            </div>
        </div>
        <div class="player-card">
            <div class="dp" style="background-image: url('https://w0.peakpx.com/wallpaper/16/916/HD-wallpaper-sergio-ramos-soccer-sport-real-madrid-football-captain-spanish.jpg');">

            </div>
            <div class="information effect">
                <a target="_blank" href="https://www.instagram.com/sergioramos/?hl=en"><h3>Sergio Ramos</h3></a>
            </div>
        </div>

    </div>
    <script>
        let slider = document.querySelector(".playercards");
        function slideLeft(){
            console.log("hello");
            slider.scrollBy({
                top: 0,
                left: +600,
                behavior: 'smooth'
              }); 
        }
        function slideRight(){
            console.log("hello");
            slider.scrollBy({
                top: 0,
                left: -600,
                behavior: 'smooth'
              }); 
        }
    </script>
</div>
<br>