<h2>TOP TWEETS RIGHT NOW</h2>

<div class="testimonial-container">
  <div class="progress-bar"></div>
  <div class="fas fa-quote-left fa-quote" style="transform: rotate(180deg);"><img src="/images/apos.png" alt=""></div>
  <div class="fas fa-quote-right fa-quote"><img src="/images/apos.png" alt=""></div>
  <p class="testimonial">
    You guessed it!
    After the Open Qualifiers, Olympus has arrived to a new step in the tournament. Elite Cup!
    This phase reunites the best 8 #CSGO team in Algeria.
    And the winner team will get: 1.000.000 DA!! Which is the biggest prize pool in Algeria's #Esports history!
  </p>
  <div class="user">
    <img src="https://pbs.twimg.com/profile_images/1481703472160464896/QMe55s3n_400x400.jpg" alt="user"
      class="user-image" />
    <div class="user-details">
      <h4 class="username">Olympus</h4>
      <p class="role">Algeria Esports</p>
    </div>
  </div>
</div>


<script>
  const testimonialsContainer = document.querySelector('.testimonials-container')
  const testimonial = document.querySelector('.testimonial')
  const userImage = document.querySelector('.user-image')
  const username = document.querySelector('.username')
  const role = document.querySelector('.role')

  const testimonials = [
    {
      name: 'Iida Niskanen',
      position: 'Data Entry',
      photo: 'https://randomuser.me/api/portraits/women/68.jpg',
      text:
        "This guy is a hard worker. Communication was also very good with him and he was very responsive all the time, something not easy to find in many freelancers. We'll definitely repeat with him.",
    },
    {
      name: 'MetaDOS',
      position: 'Esports-Enthusiast',
      photo:
        'https://pbs.twimg.com/profile_images/1582646740356063232/hirrVfXv_400x400.jpg',
      text:
        'We are mentioned as a "Gamefi project with top development potential. Delighted to be one of the names mentioned in the Vietnam Blockchain Nation Report 2022',
    },
    {
      name: 'Mortal',
      position: 'Team Soul Co-Founder',
      photo: 'https://pbs.twimg.com/profile_images/1404804483251638277/szeipVii_400x400.jpg',
      text:
        'Goa is such a vibe for many. Experienced today, families on vacation, are just standing in the aisle and chit chatting, kids are playing with each other even before reaching Goa 😂 Enjoyed just looking at the kids..',
    },
    {
      name: 'Renee Sims',
      position: 'Receptionist',
      photo: 'https://randomuser.me/api/portraits/women/65.jpg',
      text:
        "This guy does everything he can to get the job done and done right. This is the second time I've hired him, and I'll hire him again in the future.",
    },
    {
      name: 'Jonathan Nunfiez',
      position: 'Graphic Designer',
      photo: 'https://randomuser.me/api/portraits/men/43.jpg',
      text:
        "I had my concerns that due to a tight deadline this project can't be done. But this guy proved me wrong not only he delivered an outstanding work but he managed to deliver 1 day prior to the deadline. And when I asked for some revisions he made them in MINUTES. I'm looking forward to work with him again and I totally recommend him. Thanks again!",
    },
    {
      name: 'Sasha Ho',
      position: 'Accountant',
      photo:
        'https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?h=350&auto=compress&cs=tinysrgb',
      text:
        'This guy is a top notch designer and front end developer. He communicates well, works fast and produces quality work. We have been lucky to work with him!',
    },
    {
      name: 'Veeti Seppanen',
      position: 'Director',
      photo: 'https://randomuser.me/api/portraits/men/97.jpg',
      text:
        'This guy is a young and talented IT professional, proactive and responsible, with a strong work ethic. He is very strong in PSD2HTML conversions and HTML/CSS technology. He is a quick learner, eager to learn new technologies. He is focused and has the good dynamics to achieve due dates and outstanding results.',
    },
  ]

  let idx = 1

  function updateTestimonial() {
    const { name, position, photo, text } = testimonials[idx]

    testimonial.innerHTML = text
    userImage.src = photo
    username.innerHTML = name
    role.innerHTML = position

    idx++

    if (idx > testimonials.length - 1) {
      idx = 0
    }
  }

  setInterval(updateTestimonial, 10000)
</script>