<div class="some-container">
    <br>
    <h2>WATCH ON ESPORTLE</h2>
    <br>
    <div class="watch-cont">
        
        <div class="watch-card">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/qa454jRcba8?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="content">
                <div class="vs-teams">
                    <ul>
                        <li><img class="versus-img" src="/images/logos/g2e.png" alt="not-again"></li>
                        <li>G2 ESPORTS</li>
                    </ul>
                    <br>
                    <ul>
                        <li><img class="versus-img" src="/images/logos/nan.png" alt="not-again"></li>
                        <li>NATUS VINCERE</li>
                    </ul>
                </div>
                <div class="score">
                    <hr style="display: inline-block; transform: rotate(90deg); color:red; width:12vh">
                    <img style="height: 5vh;" src="/images/tv.png" alt="">
                </div>
            </div>
        </div>
        
<!-- -------------------------------------------------- -->
        <div class="watch-card">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/jcY60vL7208?start=10&showinfo=0&autohid=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="content">
                <div class="vs-teams">
                    <ul>
                        <li><img class="versus-img" src="/images/logos/sentinals.png" alt="not-again"></li>
                        <li>SENTINELS</li>
                    </ul>
                    <br>
                    <ul>
                        <li><img class="versus-img" src="/images/logos/100t.png" alt="not-again"></li>
                        <li>100T</li>
                    </ul>
                </div>
                <div class="score">
                    <hr style="display: inline-block; transform: rotate(90deg); color:red; width:12vh">
                    <img style="height: 5vh;" src="/images/tv.png" alt="">
                </div>
            </div>
        </div>

        <div class="watch-card">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/xZLFVV2qxQQ?start=1654" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="content">
                <div class="vs-teams">
                    <ul>
                        <li><img class="versus-img" src="/images/logos/fnc.png" alt="not-again"></li>
                        <li>FNC</li>
                    </ul>
                    <br>
                    <ul>
                        <li><img class="versus-img" src="/images/logos/ig.png" alt="not-again"></li>
                        <li>IG</li>
                    </ul>
                </div>
                <div class="score">
                    <hr style="display: inline-block; transform: rotate(90deg); color:red; width:12vh">
                    <img style="height: 5vh;" src="/images/tv.png" alt="">
                </div>
            </div>
        </div>
    
</div>
<br><br>
</div>